<div class="form-group" [formGroup]=ref>
    <label for="nkzAutocomplete">Radno mjesto po NKZ</label>
    <input type="text" formControlName="nkzAutocomplete" required [ngbTypeahead]="search" 
        [resultFormatter]="formatter"
        [inputFormatter]="formatter" 
        class="form-control" 
        [ngClass]="{ 'is-invalid': searchFailed }"
        placeholder="Odaberite zanimanje..." />
    <div *ngIf="searching" class="form-control-plaintext text-info font-weight-bold">
        <i class="fa fa-spinner fa-spin"></i> Tražim...
    </div>
    <div *ngIf="ref.controls['nkzAutocomplete'].errors && (ref.controls['nkzAutocomplete'].touched || ref.controls['nkzAutocomplete'].dirty) || searchFailed" class="alert alert-warning text-danger small">
        <div *ngIf="ref.controls['nkzAutocomplete'].errors && (ref.controls['nkzAutocomplete'].touched || ref.controls['nkzAutocomplete'].dirty)">
            Morate odabrati zvanje.
        </div>
        <div *ngIf="searchFailed">
            Odabir zvanja je trenutno nedostupan.
        </div>
    </div>
    <!--{{ 'ID: ' + selectedKey }}-->
</div>