<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h2>Prototipni portal Hrvatske veterinarske komore</h2>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h2>O Portalu HVK</h2>
            <p>Dobrodošli na web stranice Hrvatske veterinarske komore!</p>
            <p>
                Hrvatska veterinarska komora jest samostalna i neovisna udruga doktora veterinarske medicine i veterinarskih tehničara na
                području Republike Hrvatske. Njezina temeljna zadaća je reguliranje veterinarske profesije, promicanje veterinarstva
                i zastupanje interesa u području veterinarstva.
            </p>
            <p>Ove web stranice omogućavaju učinkovito obavljanje zadaća HVK i pokrivaju dva glavna područja:</p>
            <ul>
                <li>informiranje šire društvene zajednice o našim djelatnostima i</li>
                <li>rad sa članstvom HVK.</li>
            </ul>
            <p>
                Želite li više saznati o HVK i što se zbiva u veterinarstvu, kliknite na <a [routerLink]="['/novosti']">Novosti</a>
                i pregledajte stranice našeg web portala.
            </p>
            <p>
                Ako ste već član Hrvatske veterinarske komore ili to želite postati, prijavite se za korištenje našeg poslovnog informacijskog
                sustava i kliknite
                <a [routerLink]="['/registracija']">ovdje</a>.
            </p>
        </div>
        <div class="col-sm-6">
            <h2>Poslovni informacijski sustav HVK</h2>
            <p>
                Poslovni informacijski sustav Hrvatske veterinarske komore (<abbr>PIS HVK</abbr>) organiziran je za brže
                i bolje pružanje usluga članovima HVK, kvalitetniju međusobnu suradnju članstva te učinkovitijeg rada Ureda
                stručne službe. Članovi HVK mogu koristiti sustav preko interneta, pomoću svojih elektroničkih uređaja (osobnih
                računala, tableta i pametnih telefona) uz sve suvremene mjere zaštite osobnih podataka.
            </p>
            <p>PIS HVK između ostalog omogućava:</p>
            <ul>
                <li>Jednostavno učlanjivanje u HVK</li>
                <li>Pregledavanje i uređivanje podataka o članstvu</li>
                <li>Izdavanje licenci za obavljanje djelatnosti</li>
                <!--
        <li>
            Izdavanje elektroničkih iskaznica, koje će članovima omogućiti jednostavno korištenje nekih
            usluga HVK (kao na primjer prijavljivanje za edukaciju i evidentiranje stečenih bodova
        </li>
        -->
                <li>Uvid u stanje članarina</li>
                <li>Praćenje stručnog usavršavanja</li>
                <li>Sadržajno izvještavanje o članstvu i aktivnostima HVK</li>
            </ul>
            <p>
                Ako želite zatražiti članstvo u HVK, u glavnom izborniku pritisnite
                <a [routerLink]="['/registracija']">Zahtjev za članstvo</a>, nakon čega će vas sustav dalje voditi kroz potrebne
                radnje.
            </p>
            <p>
                Ako ste već član HVK te želite obaviti neke poslove, pritisnite stavku
                <a [routerLink]="['/prijava']">PIS HVK</a>.
            </p>
        </div>
    </div>
</div>